{% extends "finalproject_app/base_template.html" %}
{% block content %}

<title>{{ recipe.title }}</title>
<head>
    <style>
        body {
            text-align: center; 
        }
        h1 {
            font-family: 'Indie Flower', cursive;
        }
        p {
            font-family: 'Indie Flower', cursive;
        }
        .recipe-details {
            display: inline-block; 
            text-align: left; 
            vertical-align: top; 
        }
    </style>
</head>
<body>
    <div class="recipe-details"> 
        <h1>{{ recipe.title }}</h1>
        <p><strong>Author:</strong> {{ user.chef.name }}</p>
        <p><strong>Ingredients:</strong></p>
        <p>{{ recipe.ingredients }}</p>
        <p><strong>Number of Steps:</strong> {{ recipe.number_of_steps }}</p>
        <p><strong>Steps:</strong></p>
        <p>{{ recipe.steps }}</p>
        <a href="{% url 'recipe_list' %}" class="btn btn-primary">Back to Recipes</a>
    </div>
    <img src="{{ recipe.pictures.url }}" alt="{{ recipe.title }}" style="width: 200px; margin-top: 20px;">
</body>
</html>

{% endblock %}
