{% extends "finalproject_app/base_template.html" %}
{% block content %}

<title>{{ recipe.title }}</title>
<head>
    <style>
        h1{
            font-family: 'Indie Flower', cursive;
        }
        p{
            font-family: 'Indie Flower', cursive;
        }
    </style>
</head>
<body>
    <h1>{{ recipe.title }}</h1>
    <p><strong>Author:</strong> {{ recipe.author }}</p>
    <img src="{{ recipe.pictures.url }}" alt="{{ recipe.title }}" style="height: auto;">
    <p><strong>Ingredients:</strong></p>
    <p>{{ recipe.ingredients }}</p>
    <p><strong>Number of Steps:</strong> {{ recipe.number_of_steps }}</p>
    <p><strong>Steps:</strong></p>
    <p>{{ recipe.steps }}</p>
    <a href="{% url 'recipe_list' %}" class="btn btn-primary">Back to Recipes</a>
</body>
</html>

{% endblock %}
