{% extends "finalproject_app/base_template.html" %}
{% block content %}

<title>Recipes</title>
<head>
    <style>
        h1{
            font-family: 'Indie Flower', cursive;
        }
        h2 {
            font-family: 'Indie Flower', cursive;
        }
    </style>
</head>
<body>
    <h1>All Recipes</h1>
    <ul>
        {% for recipe in recipes %}
            <li class="list-group-item">
                <h2>{{ recipe.title }}</h2>
                <a href="{{ recipe.get_absolute_url }}">
                    <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" style="max-width: 1000px;">
                </a>
            </li>
        {% empty %}
            <li>No recipes found.</li>
        {% endfor %}
    </ul>

{% endblock %}
