{% extends 'portfolio_app/base_template.html' %}
{% block content %}
<h3>UCCS Student Profile</h3>
Welcome, {{user}}
 portfolio id: {{user.student.portfolio.id}}
 <p><strong>Portfolio:{{ user.student.portfolio.title }}
    <a class="btn btn-primary" href="{{ user.student.portfolio.get_absolute_url }}" role="button">View</a>
    <a class="btn btn-primary" href="{ % url 'update_portfolio' user.student.portfolio.id %}" role="button">Update</a>

 <h3>Student Information</h3>

 <form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <input class="btn btn-primary" type="Submit" name="Update">
 </form>
</div>
{% endblock %}